<article class="home_container">
	
	<nav class="navigator">
		<ul class="verticalAlign">
			<li class="inline"><%=link_to 'Home', root_path, class:"navigator_text" %></li> |
			<li class="inline"><%=link_to 'Apuntes', notes_path, class:"navigator_text" %></li> |	
			<li class="inline"><%=link_to 'Comunidades', communities_path, class:"navigator_text"%></li>
		</ul>
	</nav>

	<section class="title2">
		<h2 class="verticalAlign">Sobre mí</h2>
	</section>
	
	<section class="aboutme_container cf cs">
		<%= image_tag "me.jpg", class:"photo_aboutme" %>
		<div class="text_container">
			<p class="text_content">Me llamo Miguel. Estudié Arquitectura Técnica en la UPM y realicé unas prácticas durantes cinco meses. Decidí dar un giro a mi vida buscando un futuro en el mundo tecnológico, que siempre me había gustado como hoby. Como resultado, y gracias a McKinsey Social Initiative y a la gente de IronHack, en los últimos tres meses he aprendido mucho sobre desarrollo web. Lo que más he trabajado ha sido la parte de backend con ruby on rails. Lo que más me ha gustado ha sido la parte de DOM y JavaScript. Mi objetivo es seguir creciendo profesionalmente en este mundo y aportar valor en empresas.
			</p>
		</div>


		<p class="text_content text_content2">
			e-mail:<a href="mailto:miganml@outlook.com">miganml@outlook.com</a>
		</p>
	
	</section>

