<section class="title">
	<h1 class="verticalAlign">Bienvenido a Los Super-Apuntes</h1>
</section>


<nav class="navigator">
	<ul class="verticalAlign">
		<li class="inline"><%=link_to 'Crea notas', notes_path %></li>
		<li class="inline"><%=link_to 'Crea una comunidad', sample_path%></li>
		<li class="inline"><%=link_to '¿Quiénes somos?', sample_path %></li>
	</ul>
</nav>

<section class="container">

	<section class="main_buttons verticalAlign">

		<div class="enter_button button_left">
			<p class="verticalAlign">Busca apuntes</p>
		</div>
		<div class="enter_button button_right">
			<p class="verticalAlign">Inicia sesión</p>
		</div>

	</section>

</section>
