<nav class="navigator">
	<ul class="verticalAlign">
		<li class="inline"><%=link_to "Home", root_path %></li>
		><li class="inline">Notas</li>
	</ul>
</nav>

<h2 class="notes_title"><%= link_to "Nueva nota", new_note_path %></h2>
<br>

<h2 class="notes_title">Últimos apuntes</h2>
<% if flash[:notice] %>
	<% flash[:notice] %>
<% end %>
<ul class="notes">
	<% @notes.each do |note|%>
		<li class="notes_list">
			<%= link_to note.title, note_path(note) %> | 
			<%= link_to "borrar", note_path(note), method: :delete, confirm: "¿Seguro que que quires eliminiar #{note.title}?"%>
		</li>
	<% end %>
</ul>
