<article class="user_page_container">
	<div class="user_form_container cf">
		<h3 class="user_form_title">Nuevo usuario</h3>
		
		<%= render 'form' %>
		
		<%= link_to 'Cancelar', root_path, class:"user_form_field form_link" %>
	</div>
</article>