/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.notes_title{
	font-weight: bold;
	text-align: center;
	color: darkblue;
	font-weight: bold;
	font-family: monaco,Consolas,"Lucida Console",monospace;
	height: 40px;
}

h1.notes_title{
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 50px;
}

h2.notes_title{
	font-size: 40px;
}

h3.notes_title{
	font-size: 20px;
	margin-top: 50px;
	margin-bottom: 5px;
}

.notes_list{
	text-align: center;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

p{
	font-size: 15px;
}

.notes{
	min-height: 400px;
	height: auto;
	width: 75%;
	background-image: url(cuaderno.jpg);
	background-size: 100%;
	margin: 0 auto;
	padding-top: 135px;
}

.button{
	margin-top: 10px;
}

.note_title{
	font-size: 20px;
	width: 80%;
}

.note_body{
	font-size: 15px;
	width: 60%;
	height: 200px;
}

.note_body_print{
	font-size: 20px;
	width: 60%;
	height: 200px;
	margin: 0 auto;
}

.actions{
	font-size: 15px;
	margin-bottom: 20px;
}

.flash_note{
	font-size: 20px;
	font-weight: bold;
	color: red;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

.select_community{
	font-size: 20px;
}